@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.container {
  padding-top: 40px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 50vw !important;
  /* height: 90vh; */
}

.card {
  display: flex;
  flex-direction: row !important;
  background-color: #fff;
  padding: 20px;  
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* height: 70vh; */
  width: 50vw;
}
@media (max-width: 768px) {
  
  .card, .container {
    width: 100vw !important;
    overflow: hidden;
  }
}

.card-image {
  /* width: 40%; */
  /* height: 400px; */
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.card-content {
  /* height: 400px; */
  /* width: 40%; */
  padding: 20px;
}
.card-title1 {
  font-family: "Fraunces", serif;
  font-size: small;
  font-weight: 500;
  color: hsl(158, 36%, 37%);
}

.card-title {
  color: hsl(158, 36%, 37%) !important;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}
@media (max-width: 600px){
  .card-title , .card-price {
      font-size: 18px !important ;
  }
}

.card-text {
  font-family: "Montserrat", sans-serif;
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.card-price {
  color: hsl(158, 36%, 37%) !important;
  font-family: "Fraunces", serif;
  font-weight: bold;
  font-size: 46px;
  color: #333;
  margin-bottom: 20px;
}

.card-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.card-button:hover {
  background-color: #3e8e41;
}
.span {
  font-size: 10px;
  font-weight: 100;
}
